@import "./variables";

header,
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $headerfooter;
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;

    li {
      display: inline-block;
    }
    a {
      text-decoration: none;
    }
  }
}

.footer-right {
  display: flex;
  gap: 30px;
  align-items: center;

  .icons {
    display: flex;
    gap: 20px;
  }
}
