@import "./headerfooter";
@import "./variables";

@mixin fonts {
  font-family: "Mulish", sans-serif;
  font-weight: light;
  font-optical-sizing: auto;
}

body {
  @include fonts;
  margin-left: 125px;
  margin-right: 125px;
  max-width: 1110px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.intro {
  max-width: 55%;
  margin-bottom: 30px;

  h2 {
    font-size: 40px;
    font-weight: bold;
    max-width: 80%;
  }

  p {
    font-size: 16px;
    opacity: 80%;
  }
}

.info {
  flex: 1;
  max-width: 30%;
  font-size: 18px;
  font-weight: bold;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    // display: flex;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px 0;
    border-bottom: 1px solid #979797;

    span {
      opacity: 50%;
    }
  }
}

.big-image {
  p {
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

.gallery {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
